@{ ViewData["Title"] = "Card Pay"; }

<div class="text-center">
    <h1 class="display-5">Card Pay</h1>
</div>



<div class="mb-3">


    <label for="cardNumber" class="form-label">Card Number:</label>
    <input class="form-control js-card-number" id="cardNumber" value="">
    <br>
    <label for="expirationMonth" class="form-label">Expiration Month:</label>
    <input class="form-control js-expiration-month" id="expirationMonth" value="">
    <br>
    <label for="expirationYear" class="form-label">Expiration Year:</label>
    <input class="form-control js-expiration-year" id="expirationYear" value="">
    <br>
    <label for="amount" class="form-label">Amount:</label>
    <input class="form-control js-amount" id="amount" value="">
    <br>

    <button type="button" class="btn btn-primary js-card-pay" id="payButton">
        Pay
    </button>

    <div class="alert alert-success js-alert-success collapse in" role="alert">
        Payment was successfully processed!
    </div>
    <div class="alert alert-danger js-alert-failure collapse in" role="alert">
        <input class="form-control js-errorMsg" id="errorMsg" value="" readonly>
    </div>

</div>
