@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-5">Available Controllers</h1>
</div>
<br>
<br>
<div class="text-center">
    <h1 class="display-4"></h1>
    <p><a href="/customer">CustomerController</a></p>
</div>
<br>
<div class="text-center">
    <h1 class="display-4"></h1>
    <p><a href="/account">AccountController</a></p>
</div>*@

<br>

<div class="text-center">
    <h1 class="display-4"></h1>
    <p><a href="/card">Card Pay CheckOut</a></p>
</div>

